@import "mixins";
@import "variables";
html, body { height: 100%; }

#wrapper {
    width: 100%; /* needed for FF */
    margin: 0;

    /* Flexbox hawtness */
    display: box; display: flexbox;
    box-align: center; flex-align: center;
    box-pack: center; flex-pack: center;
}

#content {
    padding: 1em 1.5em;

}


